*{
    margin: 0;
    padding: 0;
}

:root{
	--bg-color: whitesmoke;
	--text-color: #282828;
	--main-color: #007a00;
	--second-color: #004700;
	--notify-color: #80ff81;
	--popup-color: white;
}

.mannaggia {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat";
    overflow: auto;
    outline: none;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 20px;
    font-size: 12px;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .mannaggia ul {
    list-style-type: none;
    padding: 0;
  }
  
  .task-manager {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 70vh;
    width: 70%;
    max-height: 900px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.2),
                25px 35px 20px rgba(0, 0, 0, 0.1),
                25px 30px 30px rgba(0, 0, 0, 0.1),
                inset -20px -20px 25px rgba(255, 255, 255, 0.5);
    overflow: hidden;
  }
  
  .left-bar {
    background-color: var(--bg-color);
    width: 230px;
    border-right: 1px solid rgb(200, 200, 200);
    position: relative;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.2),
                25px 35px 20px rgba(0, 0, 0, 0.1),
                25px 30px 30px rgba(0, 0, 0, 0.1),
                inset -20px -20px 25px rgba(255, 255, 255, 0.5);
  }
  
  .left-content { padding: 40px; }
  
  .item {
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin-bottom: 14px;
    font-weight: 500;
  }

  .item a{
    font-size: 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
  }

  .item a:hover{
    color: var(--main-color);
  }
  
  .category-list{
    margin-top: 50px;
  } 
  .category-list.item{ color: var(--secondary-color); }


.big-text { 
    font-size: 26px; 
    color: var(--second-color); 
    margin-top: 10px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.line{
    width: 100%;
    border-color: var(--text-color);
    opacity: 0.3;
}

.tasks-wrapper{
    margin-top: 20px;
    font-size: 16px;
    padding: 30px 0;
    flex: 1;
    overflow-y: auto;
    padding-right: 8px;
}

.tasks-wrapper li{
    margin-bottom: 10px;
}

.tasks-wrapper span{
    font-weight: bold;
    margin-right: 10px;
}
  
  .page-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 40px 20px 0 20px;
  }
  
  .content-categories {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }
  
  .nav-item { display: none; }
  
  .category { 
    font-weight: 500; 
    color: var(--secondary-color); 
    border-bottom: 1px solid #ddd;
    transition: .4s ease-in;
    padding: 20px 30px;
    cursor: pointer;
  }
  
  #opt-1:checked + label ,
  #opt-2:checked +  label ,
  #opt-3:checked +  label ,
  #opt-4:checked +  label {
    color: var(--checkbox-color);
    border-bottom: 2px solid var(--checkbox-color);
  }
  
  .task-item { display: none; }


  @media screen and (max-width: 1200px) {
    .task-manager{
        width: 70%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .task-manager{
        width: 100%;
    }
    .left-bar {
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .task-manager {
      flex-direction: column;
      overflow-y: auto;
    }
    
    .left-bar, .page-content {
      width: 100%;
      display: block;
    }

    .tasks-wrapper {
      margin-right: 10px;
      height: auto;

    }

    .big-text{
      margin-left: 10px;
    }
  }
  
  @media screen and (max-width: 520px) {
    .page-content { padding: 40px 10px 0 10px; }
    
    .right-content { padding: 10px 16px; }
    
    .category { padding: 20px; }
  }