*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

:root{
	--bg-color: whitesmoke;
	--text-color: #282828;
	--main-color: #007a00;
	--second-color: #004700;
	--notify-color: #80ff81;
	--popup-color: white;
}

.inner-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--bg-color);
}

.container-list{
    width: 50%;
    min-height: 500px;
    background: #282828;
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25);
}