.all-nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

:root{
	--bg-color: whitesmoke;
	--text-color: #282828;
	--main-color: #007a00;
	--second-color: #004700;
	--notify-color: #80ff81;
	--popup-color: white;
}

.all-inner-nav{
    background-color: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
}

.all-inner-nav header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: var(--popup-color);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.logo img{
    width: 30px;
}

