.all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all-body{
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

:root{
	--bg-color: whitesmoke;
	--text-color: #282828;
	--main-color: #007a00;
	--second-color: #004700;
	--notify-color: #80ff81;
	--popup-color: white;
}

.mapBox{
    position: relative;
    width: 600px;
    height: 600px;
    background-color: var(--popup-color);
    top: 90px;
}

.mapBox iframe{
    width: 100%;
    height: 100%;
    border: none;
}