*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

:root{
	--bg-color: whitesmoke;
	--text-color: #282828;
	--main-color: #007a00;
	--second-color: #004700;
	--notify-color: #80ff81;
	--popup-color: white;
}

.all-filter{
    justify-content: center;
    background-color: var(--popup-color);
    display: flex;
    min-height: 200vh;
}

.dropdown{
    position: relative;
    margin-top: 10px;
    width: 300px;
    height: 50px;
}

.dropdown::before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border: 2px solid var(--text-color);
    right: 20px;
    top: 15px;
    z-index: 10000;
    border: 2px solid var(--text-color);
    border-top: 2px solid var(--popup-color);
    border-right: 2px solid var(--popup-color);
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before{
    transform: rotate(-225deg);
    top:20px;
}

.dropdown .filterBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--popup-color);
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.dropdown .option{
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: var(--popup-color);
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1em;
    display: none;
}

.dropdown.active .option{
    display: block;
}

.dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 11px 15px -8px rgba(0,0,0,0.1);
}

.dropdown .option div:hover{
    background-color: var(--main-color);
    color: var(--popup-color);
}