*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

:root{
	--bg-color: whitesmoke;
	--text-color: #282828;
	--main-color: #007a00;
	--second-color: #004700;
	--notify-color: #80ff81;
	--popup-color: white;
}

.submit{
    background-color: var(--second-color);
      width: 120px;
      transition: 0.5s;
      color: var(--popup-color);
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      margin-left: 50px;
      font-size: 1em;
      letter-spacing: 0.1em;
      font-weight: 500;
      padding: 15px;
      border-radius: 40px;
      box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.1),
                  15px 15px 10px rgba(0, 0, 0, 0.05),
                  15px 10px 15px rgba(0, 0, 0, 0.025);
  }
  
  .submit:hover{
    width: 150px;
  }

.border{
    box-sizing: border-box;
}

.all-filter{
    display: flex;
    background:transparent;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.dropdown{
    position: relative;
    width: 300px;
    margin-left: 60px;
    height: 50px;
}

.dropdown::before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border: 2px solid var(--text-color);
    right: 20px;
    top: 15px;
    z-index: 10000;
    border: 2px solid var(--text-color);
    border-top: 2px solid var(--popup-color);
    border-right: 2px solid var(--popup-color);
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown.active::before{
    transform: rotate(-225deg);
    top:20px;
}

.dropdown .filterBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    cursor: pointer;
    background-color: var(--popup-color);
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.dropdown .option{
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: var(--popup-color);
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1em;
    display: none;
}

.dropdown.active .option{
    display: block;
}

.dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 11px 15px -8px rgba(0,0,0,0.1);
}

.dropdown .option div:hover{
    background-color: var(--main-color);
    color: var(--popup-color);
}


.dropdown-reg{
    position: relative;
    width: 300px;
    height: 50px;
    margin-left: 10px;
}

.dropdown-reg::before{
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border: 2px solid var(--text-color);
    right: 20px;
    top: 15px;
    z-index: 10000;
    border: 2px solid var(--text-color);
    border-top: 2px solid var(--popup-color);
    border-right: 2px solid var(--popup-color);
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.dropdown-reg.active::before{
    transform: rotate(-225deg);
    top:20px;
}

.dropdown-reg .filterBox-reg{
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    cursor: pointer;
    background-color: var(--popup-color);
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: 500;
}

.dropdown-reg .option{
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: var(--popup-color);
    max-height: calc(40vh - 9rem);
    overflow-y: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 1em;
    display: none;
}

.dropdown-reg.active .option{
    display: block;
}

.dropdown-reg .option div{
    padding: 12px 20px;
    cursor: pointer;
    text-align: center;
    box-shadow: 1px 11px 15px -8px rgba(0,0,0,0.1);
}

.dropdown-reg .option div:hover{
    background-color: var(--main-color);
    color: var(--popup-color);
}