*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

:root{
	--bg-color: whitesmoke;
	--text-color: #282828;
	--main-color: #007a00;
	--second-color: #004700;
	--notify-color: #80ff81;
	--popup-color: white;
}

.form-piantato{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.form-piantato p{
    margin: 5px 10px 0 0;
}

.form-piantato input[type=checkbox] + label{
    display: block;
    margin: 0.2em;
}

.form-piantato input[type=checkbox]{
    display: none;
}

.form-piantato input[type=checkbox] + label::before{
    content: "\2714";
    border: 0.1em solid var(--text-color);
    border-radius: 0.2em;
    width: 1em;
    height: 1em;
    display: inline-block;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: 0.2s;
}

.form-piantato input[type=checkbox]:checked + label::before{
    background-color: var(--main-color);
    border: 0.1em solid var(--main-color);
    color: var(--popup-color);
}